<template>
	<div class="form">
	<h2>{{title}}</h2>
    <ol class="breadcrumb">
    <li>
      <a :href="'/'">Index</a>
    </li>
    <li class="active">
      <a :href="'#/collection/'+collectionId">{{collectionData.name}}</a>
    </li>
    <li class="active">
     <a :href="'#/collection/'+collectionId+'/classifier/'+classifierId">{{classifierData.name}}</a>
    </li>
    <li class="active">
      {{title}}
    </li>
  </ol>
  <form>
  <alert-message :message="message" ></alert-message>
  		<div class="row">
  			<label>Porcentaje de instancias</label>
        <input type="text" class="field text fn" v-validate data-vv-name="instancias" data-vv-rules="min_value:0|max_value:1" v-model="instances">
        <p class="text-danger" v-if="errors.has('instancias')">Debes ingresar el porcentaje de instancias</p>
  		</div>

      <div class="row" v-for="p,i in parameters">
        <label>{{p.name}}</label>
        <input type="text" class="field text fn" v-validate :data-vv-name="'type'+i" data-vv-rules="min_value:0|max_value:1" v-model="formData[p.id]">
        <p class="text-danger" v-if="errors.has('type'+i)">Debes ingresar el {{p.description}}</p>
      </div>

      <div class="row">
        <div class="right-button-container">
      <input type="button" class="btn btn-main" v-on:click="next()" value="Nueva ejecución">
        </div>
      </div>
    </form>
	</div>
</template>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<script>
import MultiSelect from 'vue-multiselect'
export default{
  components: { 
    MultiSelect,
  },
  data(){
    return{
			formData: {},
      instances:null,
      type:null,
      message: null,
      collectionId:null,
      classifierId:null,
      collectionData:{title:"Terremoto"},
      classifierData:{title:"Clasificador 1"},
    	title: "Nueva ejecución",
      parameters:null,
      suma:"min_value:0|max_value:"
    }
  },
  methods:{
    next:function(){
      let API_URL = this.getConstants.API_URL
      this.$validator.validateAll();
      if(!this.errors.any()){
        var paramsbody=[]
        for (var i in this.formData){
          var data={parameterId: parseInt(i), value: parseFloat(this.formData[i])}
          paramsbody.push(data)
        }
        console.log("A", paramsbody)
        if (this.instances==null || this.instances==""){
          this.$http.post(API_URL+"classifiers/"+this.classifierId+"/collections/"+this.collectionId+"/apply", paramsbody).then((response) => {
              console.log("RES",response.body)
              this.$router.replace("/collection/"+this.collectionId+"/classifier/"+this.classifierId)
            }, (response) => {
              console.log("RES2",response);
              this.message = '';
              this.message = 'Ocurrió un error al realizar la ejecución';
            });
        }
        else{
          this.$http.post(API_URL+"classifiers/"+this.classifierId+"/collections/"+this.collectionId+"/apply?instances="+this.instances, paramsbody)
          .then((response) => {
              console.log("RES",response.body)
              this.$router.replace("/collection/"+this.collectionId+"/classifier/"+this.classifierId)
            }, (response) => {
              console.log("RES2",response);
              this.message = '';
              this.message = 'Ocurrió un error al realizar la ejecución';
            });
        }
      }
    }
  },
  created:function(){
    this.collectionId = this.$route.params.collectionId;
    this.classifierId = this.$route.params.classifierId;
    console.log(this.collectionId)
    console.log(this.classifierId)
    let API_URL = this.getConstants.API_URL
        this.$http.get(API_URL+"collections/"+this.collectionId)
        .then(function(response){
          console.log("res",response.body)
            this.collectionData=response.body
        }, function(response){
          console.log(response)
          console.log("HUBO UN ERROR")
        });
       this.$http.get(API_URL+"classifiers/"+this.classifierId)
        .then(function(response){
          console.log("res",response.body)
            this.classifierData=response.body
        }, function(response){
          console.log(response)
          console.log("HUBO UN ERROR")
        });
        this.$http.get(API_URL+"classifiers/"+this.classifierId+
          "/parameters")
          .then(function(response){
            this.parameters=response.body
          }, function(resoponse){
            console.log(response)
          });
    //llamar a la colección con ID determinado
  },
  mounted:function(){
    console.log('NewExecution.vue')
  }
}
</script>
