<template>
<transition name="slide-fade">
	<div v-if="show" class="alert-box">
		<div class="alert-text">{{message}}</div>
		<div class="close" @click="close">
			<i class="fa fa-times" aria-hidden="true"></i>
		</div>
	</div>
</transition>

</template>
<style>
.alert-box{
	position: fixed;
	top:0px;
	right: 0px;
}
</style>
<script>
function isEmpty(str) {
    return (!str || 0 === str.length);
}
export default{
	props:['message'],
	data:function(){
		return{
			show:false
		}
	},
	methods:{
		close:function(){
			this.show = false;
		}
	},
	watch:{
		message:function(m){
			var _this = this;
			if (!isEmpty(m))
				this.show = true;
			//mensaje se cierra automáticamente en 10s
			setTimeout(function(){
				_this.show=false;
			}, 10000);
		}
	}
}
</script>