<template>
<div>
  <gmap-map
    :zoom="15"
    :style="'width: '+width+'px; height: '+height+'px'"
   :center="mapCenter"
   :draggable="false"


  @click="startEndRectangle"
  @mousemove="drawRectangle" >

    <gmap-rectangle :bounds="rectBounds"
                     @click="startEndRectangle"
    >
  </gmap-rectangle>
  </gmap-map>
</div>
</template>
<script>
import * as VueGoogleMaps from 'vue2-google-maps'
export default{
  props: {
    'value':null,
    'width':{default:500},
    'height':{default:350},
    'readOnly':{default:false},
    'center':{default:()=>{return {lat: -33.4378, lng: -70.6505 }}}
        },
  data(){
    return{
        startLat:null,
        startLng:null,
        drawing:false,
        rectBounds: {north: 0, east:  0, south: 0, west: 0},
        mapCenter:null,
    }
  },
  methods: {

    startEndRectangle:function(point){
      if (!this.readOnly){
      let latLng = point.latLng
      this.drawing=!this.drawing
      if (this.drawing)
      {
      this.startLat=latLng.lat()
      this.startLng=latLng.lng()
      this.rectBounds.north=latLng.lat()
      this.rectBounds.south=latLng.lat()
      this.rectBounds.west=latLng.lng()
      this.rectBounds.east=latLng.lng()
      }
      else {
        this.$emit('input', this.rectBounds)
      }
      }
    },
    drawRectangle:function(point) {
      if(!this.readOnly){
      let latLng = point.latLng
      if (this.drawing){
      let newLat = latLng.lat();
      let newLng = latLng.lng();
      if (newLat<this.startLat){
        this.rectBounds.north=this.startLat
        this.rectBounds.south=newLat
      }
      else {
        this.rectBounds.south=this.startLat
        this.rectBounds.north=newLat
      }

      if (newLng>this.startLng){
        this.rectBounds.west=this.startLng
        this.rectBounds.east=newLng
      }
      else {
        this.rectBounds.east=this.startLng
        this.rectBounds.west=newLng
      }


      }
    }
    }


  },
  created:function(){
    if (this.value!=null)
    {this.rectBounds = this.value;
    this.mapCenter = {lat:(this.rectBounds.north+this.rectBounds.south)/2, lng:(this.rectBounds.west+this.rectBounds.east)/2}
    }
    else {
    this.mapCenter = this.center;
    }


  },
  mounted:function(){

  }
}
</script>
