<template>
  <div class="spiderchart"></div>
</template>


<script>
import * as d3 from 'd3';
export default{
  props:["cfg","chart-data"],
  components: {

  },
  data(){
    return{
      clickCount: 0,

      data1 : [
               [//iPhone
                {axis:"Conducta",value:0.8},
                {axis:"Motivaciones",value:0.10},
                {axis:"Recursos",value:0.30},
                {axis:"Cercanía",value:0.14},
                {axis:"Habilidades",value:0.22},
                {axis:"Conocimiento",value:0.04}
                ]
             ],
      data2 :
      [
               [//iPhone
                {axis:"Conducta",value:0.27},
                {axis:"Motivaciones",value:0.16},
                {axis:"Recursos",value:0.35},
                {axis:"Cercanía",value:0.13},
                {axis:"Habilidades",value:0.20},
                {axis:"Conocimiento",value:0.13}
                ]
             ],

    toggle:true,
    radius:null, // ****
    maxValue:null, // ****
    angleSlice:null, // ***
    rScale:null, // ****
    radarLine:null,
    numero:1,
    selected:this.chartData,




 }
},
 methods:{
   toPercentageString: function(value) {
     let Format = d3.format('.0%');
     return Format(value);
   },

    RadarChart: function(id, data, options) {
      //console.log("CFG",this.chartData)
     var cfg = {
      w: 350,				//Width of the circle
      h: 300,				//Height of the circle
      margin: {top: 10, right: 10, bottom: 10, left: 10}, //The margins of the SVG
      levels: 3,				//How many levels or inner circles should there be drawn
      maxValue: 0, 			//What is the value that the biggest circle will represent
      labelFactor: 1.25, 	//How much farther than the radius of the outer circle should the labels be placed
      wrapWidth: 60, 		//The number of pixels after which a label needs to be given a new line
      opacityArea: 0.35, 	//The opacity of the area of the blob
      dotRadius: 4, 			//The size of the colored circles of each blog
      opacityCircles: 0.1, 	//The opacity of the circles of each blob
      strokeWidth: 2, 		//The width of the stroke around each blob
      roundStrokes: false,	//If true the area and stroke will follow a round path (cardinal-closed)
      color: d3.scaleOrdinal(d3.schemeCategory10)	//Color function
     };

   //Put all of the options into a variable called cfg
   if('undefined' !== typeof options){
     for(var i in options){
     if('undefined' !== typeof options[i]){ cfg[i] = options[i]; }
     }//for i
   }//if

//If the supplied maxValue is smaller than the actual one, replace by the max in the data
  this.maxValue = Math.max(cfg.maxValue, d3.max(data, function(i){return d3.max(i.map(function(o){return o.value;}))}));

  var allAxis = (data[0].map(function(i, j){return i.axis})),	//Names of each axis
        total = allAxis.length,					//The number of different axes
        Format = d3.format('.0%');			 	//Percentage formatting

  this.angleSlice = Math.PI * 2 / total;		//The width in radians of each "slice"

  this.radius = Math.min(cfg.w/2, cfg.h/2) 	//Radius of the outermost circle

    //Scale for the radius
  this.rScale = d3.scaleLinear()
    .range([0, this.radius])
    .domain([0, this.maxValue]);

/////////////////////////////////////////////////////////
//////////// Create the container SVG and g /////////////
/////////////////////////////////////////////////////////

//Remove whatever chart with the same id/class was present before
id.select("svg").remove();

//Initiate the radar chart SVG
var svg = id.append("svg")
.attr("width",  cfg.w + cfg.margin.left + cfg.margin.right)
.attr("height", cfg.h + cfg.margin.top + cfg.margin.bottom)
//.attr("class", "radar"+id);
.attr("class", "radar");
//Append a g element
var g = svg.append("g")
.attr("transform", "translate(" + (cfg.w/2 + cfg.margin.left) + "," + (cfg.h/2 + cfg.margin.top) + ")");

/////////////////////////////////////////////////////////
////////// Glow filter for some extra pizzazz ///////////
/////////////////////////////////////////////////////////

//Filter for the outside glow
var filter = g.append('defs').append('filter').attr('id','glow'),
feGaussianBlur = filter.append('feGaussianBlur').attr('stdDeviation','2.5').attr('result','coloredBlur'),
feMerge = filter.append('feMerge'),
feMergeNode_1 = feMerge.append('feMergeNode').attr('in','coloredBlur'),
feMergeNode_2 = feMerge.append('feMergeNode').attr('in','SourceGraphic');

/////////////////////////////////////////////////////////
/////////////// Draw the Circular grid //////////////////
/////////////////////////////////////////////////////////

//Wrapper for the grid & axes
var axisGrid = g.append("g").attr("class", "axisWrapper");

//Draw the background circles
axisGrid.selectAll(".levels")
.data(d3.range(1,(cfg.levels+1)).reverse())
.enter()
.append("circle")
.attr("class", "gridCircle")
.attr("r",(d, i)=>this.radius/cfg.levels*d)
.style("fill", "#CDCDCD")
.style("stroke", "#CDCDCD")
.style("fill-opacity", cfg.opacityCircles)
.style("filter" , "url(#glow)");

//Text indicating at what % each level is
axisGrid.selectAll(".axisLabel")
.data(d3.range(1,(cfg.levels+1)).reverse())
.enter().append("text")
.attr("class", "axisLabel")
.attr("x", 4)
.attr("y", (d)=>-d*this.radius/cfg.levels)
.attr("dy", "0.4em")
.style("font-size", "10px")
.attr("fill", "#737373")
.text((d,i)=>Format(this.maxValue * d/cfg.levels));

/////////////////////////////////////////////////////////
//////////////////// Draw the axes //////////////////////
/////////////////////////////////////////////////////////

//Create the straight lines radiating outward from the center
var axis = axisGrid.selectAll(".axis")
.data(allAxis)
.enter()
.append("g")
.attr("class", "axis");
//Append the lines
axis.append("line")
.attr("x1", 0)
.attr("y1", 0)
.attr("x2", (d, i)=> this.rScale(this.maxValue*1.1) * Math.cos(this.angleSlice*i - Math.PI/2))
.attr("y2", (d, i)=> this.rScale(this.maxValue*1.1) * Math.sin(this.angleSlice*i - Math.PI/2))
.attr("class", "line")
.style("stroke", "white")
.style("stroke-width", "2px");

//Append the labels at each axis
axis.append("text")
.attr("class", "legend")
.style("font-size", "11px")
.attr("text-anchor", "middle")
.attr("dy", "0.35em")
.attr("x", (d, i)=>this.rScale(this.maxValue * cfg.labelFactor) * Math.cos(this.angleSlice*i - Math.PI/2))
.attr("y",  (d, i)=>this.rScale(this.maxValue * cfg.labelFactor) * Math.sin(this.angleSlice*i - Math.PI/2))
.text(function(d){return d})
.call(wrap, cfg.wrapWidth);

/////////////////////////////////////////////////////////
///////////// Draw the radar chart blobs ////////////////
/////////////////////////////////////////////////////////

//The radial line function
  this.radarLine = d3.radialLine()
//.interpolate("linear-closed")
.radius(d=>this.rScale(d.value))
.angle((d,i)=>i*this.angleSlice)
.curve(d3.curveBasisClosed);

if(cfg.roundStrokes) {
this.radarLine.curve(d3.curveCardinalClosed)
//radarLine.curve("cardinal-closed");
}

//Create a wrapper for the blobs

var blobWrapper = g.selectAll(".radarWrapper")
.data(data)
.enter().append("g")
.attr("class", "radarWrapper");

//Append the backgrounds
blobWrapper
.append("path")
.attr("class", "radarArea")
.attr("d", (d,i)=>this.radarLine(d))
.style("fill", function(d,i) { return cfg.color; })
.style("fill-opacity", cfg.opacityArea)
.on('mouseover', function (d,i){
//Dim all blobs
d3.selectAll(".radarArea")
 .transition().duration(200)
 .style("fill-opacity", 0.1);
//Bring back the hovered over blob
d3.select(this)
 .transition().duration(200)
 .style("fill-opacity", 0.7);
})
.on('mouseout', function(){
//Bring back all blobs
d3.selectAll(".radarArea")
 .transition().duration(200)
 .style("fill-opacity", cfg.opacityArea);
});

//Create the outlines
blobWrapper.append("path")
.attr("class", "radarStroke")
.attr("d", (d,i)=>this.radarLine(d))
.style("stroke-width", cfg.strokeWidth + "px")
.style("stroke", function(d,i) { return cfg.color; })
.style("fill", "none")
.style("filter" , "url(#glow)");

//Append the circles
blobWrapper.selectAll(".radarCircle")
.data(d=>d)
.enter().append("circle")
.attr("class", "radarCircle")
.attr("r", cfg.dotRadius)
.attr("cx", (d,i)=> this.rScale(d.value) * Math.cos(this.angleSlice*i - Math.PI/2))
.attr("cy", (d,i)=> this.rScale(d.value) * Math.sin(this.angleSlice*i - Math.PI/2))
.style("fill", function(d,i,j) { return cfg.color; })
.style("fill-opacity", 0.8);

/////////////////////////////////////////////////////////
//////// Append invisible circles for tooltip ///////////
/////////////////////////////////////////////////////////

//Wrapper for the invisible circles on top
var blobCircleWrapper = g.selectAll(".radarCircleWrapper")
.data(data)
.enter().append("g")
.attr("class", "radarCircleWrapper");

//Append a set of invisible circles on top for the mouseover pop-up
blobCircleWrapper.selectAll(".radarInvisibleCircle")
.data(function(d,i) { return d; })
.enter().append("circle")
.attr("class", "radarInvisibleCircle")
.attr("r", cfg.dotRadius*1.5)
.attr("cx", (d,i)=> this.rScale(d.value) * Math.cos(this.angleSlice*i - Math.PI/2))
.attr("cy", (d,i)=> this.rScale(d.value) * Math.sin(this.angleSlice*i - Math.PI/2))
.style("fill", "none")
.style("pointer-events", "all")
.on("mouseover", function(d,i) {
let newX =  parseFloat(d3.select(this).attr('cx')) - 10;
let newY =  parseFloat(d3.select(this).attr('cy')) - 10;

tooltip
 .attr('x', newX)
 .attr('y', newY)
 .text(Format(d.value))
 .transition().duration(200)
 .style('opacity', 1);
})
.on("mouseout", function(){
tooltip.transition().duration(200)
 .style("opacity", 0);
});

//Set up the small tooltip for when you hover over a circle
var tooltip = g.append("text")
.attr("class", "tooltip")
.style("opacity", 0);

/////////////////////////////////////////////////////////
/////////////////// Helper Function /////////////////////
/////////////////////////////////////////////////////////

//Taken from http://bl.ocks.org/mbostock/7555321
//Wraps SVG text
function wrap(text, width) {
text.each(function() {
var text = d3.select(this),
words = text.text().split(/\s+/).reverse(),
word,
line = [],
lineNumber = 0,
lineHeight = 1.4, // ems
y = text.attr("y"),
x = text.attr("x"),
dy = parseFloat(text.attr("dy")),
tspan = text.text(null).append("tspan").attr("x", x).attr("y", y).attr("dy", dy + "em");

while (word = words.pop()) {
line.push(word);
tspan.text(line.join(" "));
if (tspan.node().getComputedTextLength() > width) {
line.pop();
tspan.text(line.join(" "));
line = [word];
tspan = text.append("tspan").attr("x", x).attr("y", y).attr("dy", ++lineNumber * lineHeight + dy + "em").text(word);
}
}
});
}//wrap

}//RadarChart








   ,createChart:function(data){

  //   var margin = {top: 100, right: 100, bottom: 100, left: 100},
  //     width = Math.min(700, window.innerWidth - 10) - margin.left - margin.right,
  //     height = Math.min(width, window.innerHeight - margin.top - margin.bottom - 20);

      var data = [
        /* [//iPhone
         {axis:"Battery Life",value:0.22},
         {axis:"Brand",value:0.28},
         {axis:"Contract Cost",value:0.29},
         {axis:"Design And Quality",value:0.17},
         {axis:"Have Internet Connectivity",value:0.22},
         {axis:"Large Screen",value:0.02},
         {axis:"Price Of Device",value:0.21},
         {axis:"To Be A Smartphone",value:0.50}
         ],[//Samsung
         {axis:"Battery Life",value:0.27},
         {axis:"Brand",value:0.16},
         {axis:"Contract Cost",value:0.35},
         {axis:"Design And Quality",value:0.13},
         {axis:"Have Internet Connectivity",value:0.20},
         {axis:"Large Screen",value:0.13},
         {axis:"Price Of Device",value:0.35},
         {axis:"To Be A Smartphone",value:0.38}
       ],*/[//Nokia Smartphone
         {axis:"Battery Life",value:0.8},
         {axis:"Brand",value:0.10},
         {axis:"Contract Cost",value:0.30},
         {axis:"Design And Quality",value:0.14},
         {axis:"Have Internet Connectivity",value:0.22},
         {axis:"Large Screen",value:0.04},
         {axis:"Price Of Device",value:0.41},
         {axis:"To Be A Smartphone",value:0.30}
         ]
       ];






/*[...this.data1,...this.data2]*/



   },
  updateChart: function(newData) {
    var blobWrapper = d3.selectAll(".radarWrapper")
    .data(newData)

    blobWrapper.select(".radarArea").attr("d", (d,i)=>this.radarLine(d))
    blobWrapper.select(".radarStroke").attr("d", (d,i)=>this.radarLine(d))


    var circleWrapper = blobWrapper.selectAll(".radarCircle").data(d=>d)

    circleWrapper.attr("cx", (d,i)=>{console.log("CX",d) ;return this.rScale(d.value) * Math.cos(this.angleSlice*i - Math.PI/2)})
                .attr("cy", (d,i)=> this.rScale(d.value) * Math.sin(this.angleSlice*i - Math.PI/2))


    d3.selectAll(".radarCircleWrapper").data(newData).selectAll(".radarInvisibleCircle").data(d=>d).attr("cx", (d,i)=> this.rScale(d.value) * Math.cos(this.angleSlice*i - Math.PI/2))
    .attr("cy", (d,i)=> this.rScale(d.value) * Math.sin(this.angleSlice*i - Math.PI/2))
    /*.on("mouseover", function(d,i) {
    let newX =  parseFloat(d3.select(this).attr('cx')) - 10;
    let newY =  parseFloat(d3.select(this).attr('cy')) - 10;

    tooltip
     .attr('x', newX)
     .attr('y', newY)
     .text(Format(d.value))
     .transition().duration(200)
     .style('opacity', 1);
    })
    /*
    //Wrapper for the invisible circles on top
    var blobCircleWrapper = g.selectAll(".radarCircleWrapper")
    .data(data)
    .enter().append("g")
    .attr("class", "radarCircleWrapper");

    //Append a set of invisible circles on top for the mouseover pop-up
    blobCircleWrapper.selectAll(".radarInvisibleCircle")
    .data(function(d,i) { return d; })
    .enter().append("circle")
    .attr("class", "radarInvisibleCircle")
    .attr("r", cfg.dotRadius*1.5)
    .attr("cx", (d,i)=> this.rScale(d.value) * Math.cos(this.angleSlice*i - Math.PI/2))
    .attr("cy", (d,i)=> this.rScale(d.value) * Math.sin(this.angleSlice*i - Math.PI/2))
    .style("fill", "none")
    .style("pointer-events", "all")
    .on("mouseover", function(d,i) {
    let newX =  parseFloat(d3.select(this).attr('cx')) - 10;
    let newY =  parseFloat(d3.select(this).attr('cy')) - 10;

    tooltip
     .attr('x', newX)
     .attr('y', newY)
     .text(Format(d.value))
     .transition().duration(200)
     .style('opacity', 1);
    })
    .on("mouseout", function(){
    tooltip.transition().duration(200)
     .style("opacity", 0);
    });

    //Set up the small tooltip for when you hover over a circle
    var tooltip = g.append("text")
    .attr("class", "tooltip")
    .style("opacity", 0);
    */

/*
    blobWrapper.selectAll(".radarCircle")
    .data(function(d,i) { console.log("CIRCLE",d);return d; })
    .enter().append("circle")
    .attr("class", "radarCircle")
    .attr("r", cfg.dotRadius)
    .attr("cx", (d,i)=> this.rScale(d.value) * Math.cos(this.angleSlice*i - Math.PI/2))
    .attr("cy", (d,i)=> this.rScale(d.value) * Math.sin(this.angleSlice*i - Math.PI/2))
    .style("fill", function(d,i,j) { return cfg.color; })
    .style("fill-opacity", 0.8);

*/
    console.log(blobWrapper)
    //Append the backgrounds
    /*blobWrapper
    .select("path")
    .attr("d", function(d,i) {console.log("d",d); return _this.radarLine(d); })


    var blobWrapper = g.selectAll(".radarWrapper")
    .data(data)
    .enter().append("g")
    .attr("class", "radarWrapper");
    */
    //Append the backgrounds
    /*
    blobWrapper
    .append("path")
    .attr("class", "radarArea")
    .attr("d", function(d,i) { console.log("DATA",data);return radarLine(d); })
    .style("fill", function(d,i) { return cfg.color; })
    .style("fill-opacity", cfg.opacityArea)
    .on('mouseover', function (d,i){
    //Dim all blobs
    d3.selectAll(".radarArea")
     .transition().duration(200)
     .style("fill-opacity", 0.1);
    //Bring back the hovered over blob
    d3.select(this)
     .transition().duration(200)
     .style("fill-opacity", 0.7);
    })
    .on('mouseout', function(){
    //Bring back all blobs
    d3.selectAll(".radarArea")
     .transition().duration(200)
     .style("fill-opacity", cfg.opacityArea);
    });

    //Create the outlines
    blobWrapper.append("path")
    .attr("class", "radarStroke")
    .attr("d", function(d,i) { return radarLine(d); })
    .style("stroke-width", cfg.strokeWidth + "px")
    .style("stroke", function(d,i) { return cfg.color; })
    .style("fill", "none")
    .style("filter" , "url(#glow)");

    //Append the circles
    blobWrapper.selectAll(".radarCircle")
    .data(function(d,i) { return d; })
    .enter().append("circle")
    .attr("class", "radarCircle")
    .attr("r", cfg.dotRadius)
    .attr("cx", function(d,i){ return rScale(d.value) * Math.cos(angleSlice*i - Math.PI/2); })
    .attr("cy", function(d,i){ return rScale(d.value) * Math.sin(angleSlice*i - Math.PI/2); })
    .style("fill", function(d,i,j) { return cfg.color; })
    .style("fill-opacity", 0.8);
    */




  },
  /*
  changeData: function() {
    this.selected = this.toggle?this.data2:this.data1
    //this.updateChart(this.selected)
    //console.log("DD",data[0][0])
    this.toggle=!this.toggle

  }
  */
 },
 created:function() {

   this.selected = this.chartData
   // let n = this.selected[0].length
   //this.size = this.cfg.h/n

 },
 mounted:function(){
  this.RadarChart(d3.select(this.$el),this.selected, this.cfg);

 },
 watch: {
    selected: {
      handler(newData){
        console.log("AAAAAAAAAA")
        this.updateChart(newData)
        //this.$emit('update',newData);
      },
      deep:true
    }
    }
   }
</script>
