<template>
<div>

  <h2>{{collectionData.name}}</h2>

    <ol class="breadcrumb">
      <li>
        <a :href="'/'">Index</a>
      </li>
      <li class="active">
       {{collectionData.name}}
      </li>
    </ol>
  <div class="main-content">

    {{collectionData.description}}

<hr>
  <h3 @click="toggleClosed()">Detalles de la colección <span style="float:right">{{detailsCaret}}</span></h3>

  <div class="slider-container">
    <div  class="slider"  v-bind:class="{ closed: detailsClosed }">
      <div class="information-table">
        <div class="information-row">
        <div class="title">
        Palabras de recolección
        </div>
        <div class="value">
          {{collectionData.recollectionWords}}
        </div>
      </div>
      <div class="information-row">
      <div class="title">
      Cuentas de recolección
      </div>
      <div class="value">
        {{collectionData.recollectionAccounts}}
      </div>
      </div>

    </div>




      </div>
    </div>
    <hr>
    <h3> Clasificadores </h3>
    <div class="list">
    <ul>
      <li class="list-header">
        <span class="classifier-name">Nombre</span>
        <span class="classifier-description">Descripción</span>
      </li>

      <li  class="list-item" v-for="c,i in classifiers">
        <a  :href="'#/collection/'+id+'/classifier/'+c.id">
        <span class="classifier-name">{{c.name}}</span>
        <span class="classifier-description">{{c.description}}</span>

      </a>
      </li>
    </ul>
  </div>

  </div>





</div>
</div>
</template>
<script>
export default{
  data(){
    return{
      detailsClosed: true,
      detailsCaret: "▼",
      collectionData:{},
      classifiers:[],
      id:null,
      title:'Detalles de la colección'
    }
  },
  methods: {
      toggleClosed: function(){

        this.detailsClosed=!this.detailsClosed
        this.detailsCaret=this.detailsClosed?"▼":"▲"
      }
  },
  created:function(){
    this.id = this.$route.params.id;
      let API_URL = this.getConstants.API_URL
      console.log(API_URL)
        this.$http.get(API_URL+"collections/"+this.id)
        .then(function(response){
          console.log("res",response.body)
            this.collectionData=response.body
        }, function(response){
          console.log(response)
          console.log("HUBO UN ERROR")
          //this.message = '';
          //this.message = 'Ocurrió un error al cargar la página';
          //this.loading = false;
        });
        this.$http.get(API_URL+"classifiers/")
        .then(function(response){
          console.log("res",response.body)
            this.classifiers=response.body
        }, function(response){
          console.log(response)
          console.log("HUBO UN ERROR")
          //this.message = '';
          //this.message = 'Ocurrió un error al cargar la página';
          //this.loading = false;
        });

    //llamar a la colección con ID determinado
  },
  mounted:function(){
    console.log('CollectionDetails.vue')
  }
}
</script>
