<template>
<div>
  <h2>{{title}}</h2>
  <!--<rectangle-map v-model="rectangle" :width="300" :height="300"></rectangle-map>-->
  <div class="right-button-container">
      <button class="btn btn-main" v-on:click="loadCollection()">Cargar</button>
      <button class="btn btn-main" v-on:click="newCollection()">Nueva</button>
  </div>
  <div class="list">
  <ul>
    <li class="list-header">
      <span class="name">Nombre</span>
      <span class="description">Descripción</span>
    </li>
    <li  class="list-item" v-for="c,i in collections">
      <a  :href="'#/collection/'+c.id">
      <span class="name">{{c.name}}</span>
      <span class="description">{{c.description}}</span>
    </a>
    </li>
  </ul>
</div>

</div>
</template>
<script>
//import RectangleMap from '../Componentes/RectangleMap.vue'
export default{
  data(){
    return{
    //  rectangle:{},
      title:'Colecciones',
      collections: [{nombre:"Colección 1",descripcion:"Esta es la primera colección",id:1},
                  {nombre:"Colección 2",descripcion:"Esta es la segunda colección",id:2},
                {nombre:"Colección 3",descripcion:"Esta es la tercera colección",id:3},
              {nombre:"Colección 4",descripcion:"Esta es la cuarta colección",id:4}]
    }
  },
  components:{
  //  RectangleMap
  },
  methods: {
    newCollection:function(){
      this.$router.replace("collection/new");
    },
    loadCollection:function(){
      this.$router.replace("collection/load");
    }
  },
  mounted:function(){
    console.log('Index.vue')
  },
  created: function(){
      let API_URL = this.getConstants.API_URL
      console.log(API_URL)
        this.$http.get(API_URL+"collections")
        .then(function(response){
          console.log("res",response.body)
            this.collections=response.body
        }, function(response){
          console.log(response)
          console.log("HUBO UN ERROR")
          //this.message = '';
          //this.message = 'Ocurrió un error al cargar la página';
          //this.loading = false;
        });

  }
}
</script>
