<template>
<div class="form">

  <h2>{{title}}</h2>
  <ol class="breadcrumb">
    <li>
      <a :href="'/'">Index</a>
    </li>
    <li class="active">
     {{title}}
    </li>
  </ol>
  <form>
  <alert-message :message="message" ></alert-message>
    <!--  method="POST" enctype="multipart/form-data" -->
  <div class="row">
    <label>Archivo</label>
    <!--<upload-file @selected-file="uploadAction($event)" @remove-file="removeAction($event)" message="Selecionar archivo..." cancel-button="Cancelar"></upload-file>-->
     <input type="file" @change="uploadAction">
      <p class="text-danger" v-if="form.fileError==true">Debes ingresar un nombre para la colección</p>
  </div>

  <div class="row">
    <label>Nombre de la colección</label>
      <input type="text" class="field text fn" v-model="form.name" v-validate data-vv-name="name" data-vv-rules="required">
      <p class="text-danger" v-if="errors.has('name')">Debes ingresar un nombre para la colección</p>
  </div>
  <div class="row">
    <label>Descripción</label>
      <textarea rows="5" cols="10" v-model="form.description" v-validate data-vv-name="descripcion" data-vv-rules="required"></textarea>
       <p class="text-danger" v-if="errors.has('descripcion')">Debes ingresar una descripción para la colección</p>
  </div>

  <div class="row">
	<label>Fuente</label>
	<multi-select v-model="form.source" :options="form.options" :searchable="false" :close-on-select="true" :show-labels="false" placeholder="Elegir fuente" class="field text fn" v-validate data-vv-name="source" data-vv-rules="required"></multi-select>
  <p class="text-danger" v-if="errors.has('source')">Debes seleccionar una fuente</p>
  </div>

  <div class="row" v-if="form.source=='Twitter'">
	  <label>Palabras de recolección usadas</label>
	  <multi-select v-model="form.tags" :close-on-select="false" :options="form.options1" :multiple="true" :taggable="true" @tag="addTag" placeholder="" tag-placeholder="" select-label="Presione enter para seleccionar" selected-label="Seleccionado" deselect-label="Presione enter para eliminar" v-validate data-vv-name="recollectionWords" data-vv-rules="required"></multi-select>
    <p class="text-danger" v-if="errors.has('recollectionWords')">Debes ingresar palabras de recolección</p>
  </div>
  <div v-else>
    <input type="text" value="" v-validate data-vv-name="recollectionWords" data-vv-rules="" hidden>
  </div>

  <div class="row">
     <label>Idioma</label>
     <multi-select v-model="form.idiom" :options="form.options4" :custom-label="nameWithLang" placeholder="Elegir idioma" label="language" track-by="language" select-label="Presione enter para seleccionar" selected-label="Seleccionado" deselect-label="Presione enter para eliminar" v-validate data-vv-name="language" data-vv-rules="required"></multi-select>
      <p class="text-danger" v-if="errors.has('language')">Debes seleccionar un idioma</p>
  </div>

  <div class="row">
  <label>Tipo de etiquetas</label>
  <multi-select v-model="form.labeltype" :options="form.options2" label="name" :searchable="false" :close-on-select="true" :show-labels="false" placeholder="Elegir tipo de etiquetas" v-validate data-vv-name="labeltypes" data-vv-rules="required"></multi-select>
        <p class="text-danger" v-if="errors.has('labeltypes')">Debes seleccionar un tipo de etiquetas</p>
  </div>

  <div class="row">
	<label>Tipo de colección</label>
	<multi-select v-model="form.type" :options="form.options3" :searchable="false" :close-on-select="true" :show-labels="false" :placeholder="'Elegir tipo de colección'" v-validate data-vv-name="type" data-vv-rules="required"></multi-select>
  <p class="text-danger" v-if="errors.has('type')">Debes seleccionar un tipo de colección</p>
  </div>
  <div class="row">
    <label>Periodo</label>
    <div class="custom-div">
    <date-picker :date="form.startTime" :option="form.dateOptionStart"></date-picker>
    <date-picker :date="form.endTime" :option="form.dateOptionEnd"></date-picker>

    <input v-model="form.startTime.time" v-validate data-vv-name="fechaInicio" data-vv-rules="required" hidden>
    <input v-model="form.endTime.time" v-validate data-vv-name="fechaTermino" data-vv-rules="required" hidden>
    <p class="text-danger" v-if="errors.has('fechaInicio')">Debes seleccionar una fecha de inicio</p>
    <p class="text-danger" v-if="errors.has('fechaTermino')">Debes seleccionar una fecha de término</p>
  </div>
  </div>

    <div class="row">
    <label>Licencia</label>
      <input type="text" class="field text fn" v-validate data-vv-name="license" data-vv-rules="required" v-model="form.license">
      <p class="text-danger" v-if="errors.has('license')">Debes ingresar una licencia</p>
  </div>

    <div class="row">
    <label>Email</label>
      <input type="email" class="field text fn" v-validate data-vv-name="email" data-vv-rules="required|email" v-model="form.email">
      <p class="text-danger" v-if="errors.has('email')">Debes ingresar un correo correcto</p>

  </div>
  <div class="row">
  <div class="right-button-container">
      <input type="button" class="btn btn-main" v-on:click="next()" value="Cargar colección">
  </div>
</div>
</form>
</div>
</template>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<script>
import MultiSelect from 'vue-multiselect'
import UploadFile from 'vue-simple-upload-component'
import myDatepicker from 'vue-datepicker'
function DateOption(){
  return {
    type: 'min',
    week: ['Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá', 'Do'],
    month: ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre'],
    format: 'YYYY/MM/DD HH:mm',
    buttons: {
          ok: 'OK',
          cancel: 'Cancelar'
    },
    color: {
      header: '#1D9C98',
      headerText: '#fff'
    },
    inputStyle: {
      'width': '100%',
      'float': 'left',
      'margin-right':'126px'
    },
  }
};
var dateOptionStart = new DateOption();
dateOptionStart.placeholder = " Fecha de inicio";
var dateOptionEnd = new DateOption();
dateOptionEnd.placeholder = " Fecha de término";
export default{
  components: { MultiSelect,
                UploadFile,
                'date-picker': myDatepicker
  },
  data(){
    return{
      title:'Cargar colección de archivo CSV',
      message:null,
      form:{
      	name:'',
      	description:'',
      	source:'',
        options:['Twitter', 'Otro'],
        tags:[],
        options1:[''],
        idiom: null,
        options4:[
          {value: 'all', language: 'Todos los idiomas'},{value:"es", language: 'español (Español)'},{value:"en", language: 'inglés (English)'}, {value:"de", language: 'alemán (Deutsch)'},{value:"am", language: 'amárico (አማርኛ)'},{value:"hy", language: 'árabe (العربية)'},{value:"ar", language: 'armenio (հայերեն)'},{value:"bn", language: 'bengalí (বাংলা)'}, {value: 'my', language: 'birmano (ဗမာ)'}, {value: 'bg', language:'búlgaro (български)'},{value: 'kn', language: 'canarés (ಕನ್ನಡ)'}, {value: 'zh', language: 'chino (中文)'},{value: 'si', language: 'cingalés (සිංහල)'},{value: 'ko', language: 'coreano (한국어)'},{value: 'da', language: 'danés (dansk)'}, {value: 'dv', language:'divehi (Divehi)'}, {value: 'sl', language: 'esloveno (slovenščina)'},{value: 'et', language:'estonio (eesti)'}, {value:'fi', language:'finés (suomi)'}, {value: 'fr', language: 'francés (français)'},{value: 'ka', language: 'georgiano (ქართული)'},{value: 'el', language:'griego (Ελληνικά)'},{value: 'gu', language:'gujarati (ગુજરાતી)'},{value: 'ht', language: 'haitiano (Haitian Creole)'},{value: 'he', language: 'hebreo (עברית)'}, {value:'hi', language: 'hindi (हिन्दी)'},{value:'hu', language:'húngaro (magyar)'},{value:'id', language: 'indonesio (Indonesia)'},{value: 'is', language: 'islandés (íslenska)'}, {value: 'it', language:'italiano (italiano)'}, {value: 'ja', language:'japonés (日本語)'},{value:'km', language: 'jemer (ខ្មែរ)'},{value: 'ckb', language:'kurdo sorani (کوردیی ناوەندی)' }, {value: 'lo', language: 'laosiano (ລາວ)'}, {value:'lv', language:'letón (latviešu)'},{value:'lt', language: 'lituano (lietuvių)'},{value:'ml',language:'malayalam (മലയാളം)'},{value:'mr',language:'maratí (मराठी)'},{value:'nl', language:'neerlandés (Nederlands)'},{value:'ne', language:'nepalí (नेपाली)'},{value:'no',language:'noruego (norsk)'},{value:'or', language:'oriya (ଓଡ଼ିଆ)'},{value:'pa', language:'panyabí (ਪੰਜਾਬੀ)'},{value:'ps', language: 'pastún (پښتو)'},{value:'fa',language:'persa (فارسی)'},{value: 'pl',language:'polaco (polski)'},{value:'pt',language:'portugués (português)'},{value:'ro', language:'rumano (română)'},{value:'ru', language:'ruso (русский)'},{value:'sr',language:'serbio (српски)'},{value:'sd', language:'sindhi (سنڌي)'},{value:'sv',language:'sueco (svenska)'},{value:'tl',language:'tagalo (Tagalog)'},{value:'th',language:'tailandés (ไทย)'},{value:'ta',language:'tamil (தமிழ்)'},{value:'te',language:'telugu (తెలుగు)'},{value:'bo',language:'tibetano (བོད་སྐད་)'},{value:'tr',language:'turco (Türkçe)'},{value:'ug',language:'uigur (ئۇيغۇرچە)'},{value:'ur',language:'urdu (اردو)'},{value:'vi',language:'vietnamita (Tiếng Việt)'}
        ],
        type:'',
        labeltype:'', // usar .toString() para guardar con string
        options2:['No tiene', 'Asertividad', 'Tipo de información'],
      	options3:['Meteorological - tornado, hurricane', 'Hydrological- flood, landslide', 'Geophysical - earthquake, volcano', 'Climatological - wildfire, heat/cold wave', 'Biological (N/A) - epidemic, infestation'],
        startTime: {
          time: ''
        },
        endTime: {
          time: ''
        },
        dateOptionStart:dateOptionStart,
        dateOptionEnd:dateOptionEnd,
      	email:'',
      	license:'',
        mongoCollection:null,
        fileError:false
      }
    }
  },
  methods:{
    uploadAction:function(e){
        var formData = new FormData();
        let file = e.target.files[0]
        console.log("FILE",file)
        formData.append('file', file);
        let API_URL = this.getConstants.API_URL
          this.$http.post(API_URL+'collections/uploadcsv', formData,).then((response) => {
            console.log(response.body.filePath);
            console.log(response.body)
            this.mongoCollection=response.body.filePath;
            this.form.fileError=false
          }, (response) => {
            console.log("A",response);
          });

    },
  	addTag:function(tag){
      this.form.tags.push(tag)
      this.form.options1.push(tag)
    },
    nameWithLang ({language }) {
      return `${language}`
    },
    next:function(){
      let API_URL = this.getConstants.API_URL
      this.$validator.validateAll();
      if(this.mongoCollection==null){
        this.form.fileError=true
      }
      if (!this.errors.any()){
        if (!this.form.fileError){
        let collectionData={
          "userId": 1,
          "name": this.form.name,
          "description": this.form.description,
          "source": this.form.source,
          "startCollectingData": Date.parse(this.form.startTime.time),
          "endCollectingData": Date.parse(this.form.endTime.time),
          "email": this.form.email,
          "license": this.form.license,
          "recollectionWords": this.form.tags.toString(),
          "language": this.form.idiom.value,
          "mongoCollection":this.mongoCollection,
          "disasterType":this.form.type,
        }
        console.log("C",collectionData)

        this.$http.post(API_URL+'collections/createfromcsv/labeltype/'+this.form.labeltype.id, collectionData).then((response) => {
          console.log("RES",response.body)
          let id=response.body.id;
          if(id){
            this.$router.replace("/collection/"+id);
          }
        }, (response) => {
          console.log("RES2",response);
          this.message = '';
          this.message = 'Ocurrió un error cargar la colección';
        });}
      }

    }
  },
  created:function(){
      let API_URL = this.getConstants.API_URL
      console.log(API_URL)
        this.$http.get(API_URL+"labelTypes")
        .then(function(response){
          console.log("res",response.body)
            this.form.options2=response.body
        }, function(response){
          console.log(response)
          console.log("HUBO UN ERROR")
        });
  },
  mounted:function(){
    console.log('LoadCollection.vue')
  }
}
</script>
