<template>
<div class="form">
<h2>{{title}}</h2>
  <ol class="breadcrumb">
    <li>
      <a :href="'/'">Index</a>
    </li>
    <li class="active">
     {{title}}
    </li>
  </ol>
<form>
  <alert-message :message="message" ></alert-message>
  <div class="row">
    <label>Nombre de la colección</label>
      <input type="text" class="field text fn" v-model="form.name" v-validate data-vv-name="name" data-vv-rules="required">
      <p class="text-danger" v-if="errors.has('name')">Debes ingresar un nombre para la colección</p>
  </div>

  <div class="row">
    <label>Descripción</label>
      <textarea rows="5" cols="10" v-model="form.description" v-validate data-vv-name="descripcion" data-vv-rules="required"></textarea>
       <p class="text-danger" v-if="errors.has('descripcion')">Debes ingresar una descripción para la colección</p>
  </div>
  <div class="row">
	  <label>Palabras de recolección</label>
	  <multi-select v-model="form.tags" :close-on-select="false" :options="form.options" :multiple="true" :taggable="true" @tag="addTag" placeholder="" tag-placeholder="" select-label="Presione enter para seleccionar" selected-label="Seleccionado" deselect-label="Presione enter para eliminar" v-validate data-vv-name="recollectionWords" data-vv-rules="required"></multi-select>
        <p class="text-danger" v-if="errors.has('recollectionWords')">Debes ingresar palabras de recolección</p>
  </div>

  <div class="row">
  	<label>Cuentas de recolección</label>
  	<multi-select v-model="form.tags1" :close-on-select="false" :options="form.options1" :multiple="true" :taggable="true" @tag="addTag1"placeholder="" tag-placeholder="" select-label="Presione enter para seleccionar" selected-label="Seleccionado" deselect-label="Presione enter para eliminar" v-validate data-vv-name="recollectionAccounts" data-vv-rules="required"></multi-select>
        <p class="text-danger" v-if="errors.has('recollectionAccounts')">Debes ingresar cuentas de recolección</p>
  </div>

  <div class="row">
  	 <label>Idioma</label>
  	 <multi-select v-model="form.idiom" :options="form.options2" :custom-label="nameWithLang" placeholder="Elegir idioma" label="language" track-by="language" select-label="Presione enter para seleccionar" selected-label="Seleccionado" deselect-label="Presione enter para eliminar" v-validate data-vv-name="language" data-vv-rules="required"></multi-select>
        <p class="text-danger" v-if="errors.has('language')">Debes seleccionar un idioma</p>
  </div>

  <div class="row">
	<label>Tipo de colección</label>
	<multi-select v-model="form.type" :options="form.options3" :searchable="false" :close-on-select="true" :show-labels="false" placeholder="Elegir tipo de colección" v-validate data-vv-name="type" data-vv-rules="required"></multi-select>
        <p class="text-danger" v-if="errors.has('type')">Debes seleccionar un tipo de colección</p>
  </div>
  <div class="row">
	<label>Tipo de filtro geográfico</label>
	<multi-select v-model="form.filter" :options="form.options4" :searchable="false" :close-on-select="true" :show-labels="false" placeholder="Elegir tipo de filtro geográfico" v-validate data-vv-name="filter" data-vv-rules="required"></multi-select>
        <p class="text-danger" v-if="errors.has('filter')">Debes seleccionar un tipo de filtro geográfico</p>
  </div>

  <div class="row" v-if="form.filter=='Approximate' || form.filter=='Strict'">
    <label>Coordenadas geográficas</label>
  	<span class="custom-div"><rectangle-map v-model="rectangle" :width="500" :height="300"></rectangle-map></span>

  </div>

  <div class="row">
    <label>Periodo de recolección</label>
    <multi-select v-model="form.period" :options="form.options5" :searchable="false" label="label" :close-on-select="true" :show-labels="false" placeholder="Elegir periodo" v-validate data-vv-name="period" data-vv-rules="required"></multi-select>
        <p class="text-danger" v-if="errors.has('period')">Debes seleccionar un periodo de recolección</p>
  </div>
  <div class="row">
    <div class="right-button-container">
      <input type="button" class="btn btn-main" v-on:click="next()" value="Guardar colección">
    </div>
  </div>
</form>
</div>
</template>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<script>
import MultiSelect from 'vue-multiselect'
import RectangleMap from '../Componentes/RectangleMap.vue'
export default{
  components: { MultiSelect,
  				RectangleMap
  },
  data(){
    return{
      rectangle:null,
      title:'Crear nueva colección',
      message:null,
      form:{
      	name:'',
      	description:'',
      	tags:[],
      	options:[],
      	tags1:[],
      	options1:[],
      	idiom: null,
      	options2:[
      		{value: 'all', language: 'Todos los idiomas'},{value:"es", language: 'español (Español)'},{value:"en", language: 'inglés (English)'}, {value:"de", language: 'alemán (Deutsch)'},{value:"am", language: 'amárico (አማርኛ)'},{value:"hy", language: 'árabe (العربية)'},{value:"ar", language: 'armenio (հայերեն)'},{value:"bn", language: 'bengalí (বাংলা)'}, {value: 'my', language: 'birmano (ဗမာ)'}, {value: 'bg', language:'búlgaro (български)'},{value: 'kn', language: 'canarés (ಕನ್ನಡ)'}, {value: 'zh', language: 'chino (中文)'},{value: 'si', language: 'cingalés (සිංහල)'},{value: 'ko', language: 'coreano (한국어)'},{value: 'da', language: 'danés (dansk)'}, {value: 'dv', language:'divehi (Divehi)'}, {value: 'sl', language: 'esloveno (slovenščina)'},{value: 'et', language:'estonio (eesti)'}, {value:'fi', language:'finés (suomi)'}, {value: 'fr', language: 'francés (français)'},{value: 'ka', language: 'georgiano (ქართული)'},{value: 'el', language:'griego (Ελληνικά)'},{value: 'gu', language:'gujarati (ગુજરાતી)'},{value: 'ht', language: 'haitiano (Haitian Creole)'},{value: 'he', language: 'hebreo (עברית)'}, {value:'hi', language: 'hindi (हिन्दी)'},{value:'hu', language:'húngaro (magyar)'},{value:'id', language: 'indonesio (Indonesia)'},{value: 'is', language: 'islandés (íslenska)'}, {value: 'it', language:'italiano (italiano)'}, {value: 'ja', language:'japonés (日本語)'},{value:'km', language: 'jemer (ខ្មែរ)'},{value: 'ckb', language:'kurdo sorani (کوردیی ناوەندی)' }, {value: 'lo', language: 'laosiano (ລາວ)'}, {value:'lv', language:'letón (latviešu)'},{value:'lt', language: 'lituano (lietuvių)'},{value:'ml',language:'malayalam (മലയാളം)'},{value:'mr',language:'maratí (मराठी)'},{value:'nl', language:'neerlandés (Nederlands)'},{value:'ne', language:'nepalí (नेपाली)'},{value:'no',language:'noruego (norsk)'},{value:'or', language:'oriya (ଓଡ଼ିଆ)'},{value:'pa', language:'panyabí (ਪੰਜਾਬੀ)'},{value:'ps', language: 'pastún (پښتو)'},{value:'fa',language:'persa (فارسی)'},{value: 'pl',language:'polaco (polski)'},{value:'pt',language:'portugués (português)'},{value:'ro', language:'rumano (română)'},{value:'ru', language:'ruso (русский)'},{value:'sr',language:'serbio (српски)'},{value:'sd', language:'sindhi (سنڌي)'},{value:'sv',language:'sueco (svenska)'},{value:'tl',language:'tagalo (Tagalog)'},{value:'th',language:'tailandés (ไทย)'},{value:'ta',language:'tamil (தமிழ்)'},{value:'te',language:'telugu (తెలుగు)'},{value:'bo',language:'tibetano (བོད་སྐད་)'},{value:'tr',language:'turco (Türkçe)'},{value:'ug',language:'uigur (ئۇيغۇرچە)'},{value:'ur',language:'urdu (اردو)'},{value:'vi',language:'vietnamita (Tiếng Việt)'}
      	],
      	type:'',
      	options3:['Meteorological - tornado, hurricane', 'Hydrological- flood, landslide', 'Geophysical - earthquake, volcano', 'Climatological - wildfire, heat/cold wave', 'Biological (N/A) - epidemic, infestation'],
      	filter:'',
      	options4:['Does not apply', 'Approximate', 'Strict'],
      	period:'',
        options5: [{hours:12 , label: '12 horas'},{hours:24 , label: '1 día'},{hours:36 , label: '1 día y medio'},{hours:60, label:'2 días y medio'},{hours:72, label:'3 días'},{hours:168, label:'7 días'}],
      }
    }
  },
  methods:{
  	addTag:function(tag){
      this.form.tags.push(tag)
      this.form.options.push(tag)
    },
  	addTag1:function(tag){
      this.form.tags1.push(tag)
      this.form.options1.push(tag)
    },
    nameWithLang ({language }) {
      return `${language}`
    },
    next:function(){
      let API_URL = this.getConstants.API_URL
      this.$validator.validateAll();
      if (!this.errors.any()){
        let collectionData={
          "userId": 1,
          "name": this.form.name,
          "description": this.form.description,
          "startCollectingData": Date.now(),
          "endCollectingData": Date.now()+3600000*this.form.period.hours,
          "recollectionWords": this.form.tags.toString(),
          "recollectionAccounts": this.form.tags1.toString(),
          "language": this.form.idiom.value,
          "disasterType":this.form.type,
          "source": "twitter"
        }
        console.log(collectionData)
        console.log(this.form.period.hours)
        this.$http.post(API_URL+'collections/createfromtwitter/hours/'+this.period.hours, collectionData).then((response) => {
          console.log("RES",response.body)
          let id=response.body.id;
          if(id){
            this.$router.replace("/collection/"+id);
          }
        }, (response) => {
          console.log("RES2",response);
          this.message = '';
          this.message = 'Ocurrió un error crear la colección';
        });

      }
    }
  },
  mounted:function(){
    console.log('NewCollection.vue')
  }
}
</script>
