<template>
  <div>
    <header>
      <div class="branding">
<!--        <img class ="logo-small" src="" /> -->
        <span>Mini AIDR</span>
      </div>
      <nav>
        <a href="#/">Home</a>
        <a href="#/colecciones">Colecciones</a>
      </nav>
    </header>


    <main class="container">
      <router-view></router-view>
    </main>

    <footer>
      <div class="inner-footer">
        &copy; 2017 <a href="http://www.citiaps.cl" target="_blank">Citiaps</a> - Universidad de Santiago de Chile.
      </div>
    </footer>

</div>
</template>

<script>
export default {

}
</script>
