$main-color: #1D9C98;
$secondary-color:#BCCB38;
$dark-gray:#808080;
$darker-gray:#4d4d4d;
$light-gray:#E6E6E6;
$light-color: #FFFFFF;
$logo-width:100px;
$width:100%;
$column-container-height:220px;

body{
  color:darken($main-color,5);
  font-family: sans-serif;
  margin:0px;
    font-size: 12px;
}

.container {
  margin-left:4%;
  margin-right:4%;
}

.right-button-container {
  display: flex;
  justify-content: flex-end;
}


.slide-leave-active,
.slide-enter-active {
  transition: 1s;
}
.slide-enter {
  transform: translate(0, 0%);
}
.slide-leave-to {
  transform: translate(0, -100%);
}

.slider-container {
//  border: 1px solid rgba(255, 0, 0, .7);
//  width: 400px;
  overflow: hidden;
}

.slider {
//  background-color: rgba(0, 255, 0, .3);
  transition: .5s cubic-bezier(0, 1, 0.5, 1);
  transform: translateY(0);
}

.closed {
  .title,.value {
//    display:none;
  }
  height:0px;
  transform: translateY(-100%);
}


.main-content{
  width:750px;
}

.information-table{
  .information-row{
    display:flex;
    .title{
      text-align: right;
      width:20%;
      margin-right:20px
    }

    .value{
      width:75%
    }
  }


  .information-row+.information-row{
    margin-top:20px;
  }
}

.text-danger{
  color:  rgba(255, 0, 0, .7);
  font-size: 0.9em;
  font-style: italic;
  margin: 5px;
}

header{

  padding: 10px 20px;
  background-color: lighten(#efefef, 3%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  .branding{
    img{
      width: 20px;
      display: inline-block;
    }
    span{
      display: inline-block;
    }
  }
  nav{
    a{
      font-size: 0.8em;
      display: inline-block;
      padding: 5px 10px;
      color:darken($secondary-color, 10%);
      text-decoration: none;
      position: relative;
      cursor: pointer;
      &:hover::after{
          content:'';
          position: absolute;
          bottom: -5px;
          left: 0px;
          width: 100%;
          height: 3px;
          background-color: $main-color;

      }
    }
  }
}

ul{
  a{
    text-decoration: none;
    color: inherit;
  }
  margin:0px;
  padding:0px;
  list-style: none;
  li{
    margin:0px;
    padding:0px;
  }
}

.btn{
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  background-color: $light-color;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 1.2em;
  font-family: aller, helvetica, arial, sans-serif;
  letter-spacing: 0.5px;
  transition: 300ms;
  width: fit-content;
  display: inline-block;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  &.btn-default{
    color: $main-color;
    border: 2px solid $main-color;
    &:hover{
      background-color: lighten($main-color, 5%);
      color:$light-color;
      //box-shadow: 3px 3px 3px rgba($main-color,0.4);
      //transform: scale(1.1);
    }
  }
  &.btn-main{
    color:$light-color;
    border: 2px solid $main-color;
    background-color: $main-color;
    &:hover{
      background-color: lighten($main-color, 10%);
      color:$light-color;
    }
  }
  &.btn-link{
    color: $main-color;
    position: relative;
    border: 2px solid $light-color;
    transition: color 500ms border 1000ms;
    &:hover{
      color:lighten($main-color, 10%);
      border: 2px solid $main-color;
    }
  }
}
hr {
opacity:0.2;
border-color:$main-color
}

.list{
  font-size: 1em;
  width: 90%;
  margin: 0 auto;
  span{
    display: inline-block;
  }
  .list-header{
    font-size: 1em;
    font-weight: bold;
  }
  li{
    padding: 10px 20px;
  }
  .name{
    width: 30%;
  }
  .description{
    width: 60%;
    text-align: center;
  }
  .list-item{
    border-top: 1px solid $light-gray;
  }
  .classifier-name{
    width:30%;
  }
  .classifier-description{
    width:68%;
  }
  .execution-date{
    width:24%;
  }
  .execution-precision{
    width:24%;
  }
  .execution-recall{
    width:24%;
  }
  .execution-fmeasure{
    width:26%;
  }


}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
.multiselect__input{
  float:none !important;
  border: 0px !important;
}

.results-container{
  display:flex;
  justify-content:space-between;
    .classifier-info,.chart-area{
        width:50%;
        .content+.content{
          margin-top:3px;
        }
        .results-stats {
          display:flex;
          justify-content: space-between;

        .stats{
          display:flex;
          justify-content: space-between;
          flex-direction: column;
        }
        }
    }
    .chart-area{
      margin-right:5%;
    }
}


.download-results {
  display: flex;
  justify-content: center;
}

.form{



  form > .row {
    clear: both;
    padding: 1px;
    margin: 0 0 10px 0;
    width: 60%
  }
  /*
  form > div > fieldset > div > div {
    margin: 0 0 5px 0;
  }
  */
  form > div > label,
  legend {
    width: 25%;
    float: left;
    padding-right: 0px;
  }
  /*
  form > div > div,
  form > div > fieldset > div {
    width: 75%;
    float: right;
  }
  */
/*
  form > div > fieldset label {
    font-size: 90%;
  }
  fieldset {
    border: 0;
    padding: 0;
  }
  */
  .multiselect,

  input[type=text],
  input[type=number],
  input[type=email],
  input[type=url],
  input[type=password],
  select,
  textarea {
    width: 70%;
    float:right;
    margin-bottom:10px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }


input[type=file],  
.upload-file{
  width: 70%;
  float:right;
  margin-bottom:10px;

}

  input[type=text],
  input[type=number],
  input[type=email],
  input[type=url],
  input[type=file],
  input[type=password],
  select,
  textarea {
    width: 70%;
  }

    .custom-div{
      width: 70%;
      display:flex;
      float: right;
      div {
          margin-left: 0
      }

    }

  input[type=text]:focus,
  input[type=number]:focus,
  input[type=email]:focus,
  input[type=url]:focus,
  input[type=file],
  input[type=password]:focus,
  select:focus,
  textarea:focus {
    outline: 0;
    border-color: $main-color;
  }

  @media (max-width: 600px) {
    form > div {
      margin: 0 0 15px 0;
    }

    form > div > label,
    legend {
      width: 100%;
      float: none;
      margin: 0 0 5px 0;
    }

    form > div > div,
    form > div > fieldset > div {
      width: 100%;
      float: none;
    }
    .upload-file,
    .multiselect,
    .custom-div,
    input[type=text],
    input[type=number],
    input[type=email],
    input[type=url],
    input[type=file],
    input[type=password],
    textarea,
    select {
      width: 70%;
    }
  }
  @media (min-width: 1200px) {
    form > div > label,
    legend {
      text-align: right;
    }
  }
}

.breadcrumb {
  padding: 8px 15px;
    padding-left: 0px;
    background-color: #fff;
    /* width: 100%; */
    border-bottom: solid 1px #e8e8e8;
    border-radius: 0px;
  }

  .breadcrumb > li {
      display: inline-block;
  }
  .breadcrumb > li + li:before {
      padding: 0 5px;
      color: #ccc;
      content: "/\00a0";
  }

  .alert-box{
  position: fixed;
  top:15px;
  right: 0px;
  background-color: rgba(#D86636,0.8);
  color: $light-color;
  z-index: 100;
  -webkit-filter: none;
    filter: none;
  /*padding: 10px 20px;*/
  .alert-text{
    float: left;
    font-size: 1.1em;
    height: 40px;
    vertical-align: middle;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .close{
    font-size: 1.3em;
    float: right;
    height: 40px;
    vertical-align: middle;
    line-height: 40px;
    padding-right: 5px;
    cursor: pointer;
  }
}
