<template>
<div>

  <h2>{{collectionData.name}} - {{classifierData.name}}</h2>

  <ol class="breadcrumb">
    <li>
      <a :href="'/'">Index</a>
    </li>
    <li class="active">
      <a :href="'#/collection/'+collectionId">{{collectionData.name}}</a>
    </li>
    <li class="active">
     {{classifierData.name}}
    </li>
  </ol>
  <div class="main-content">
    Colección: {{collectionId}}
    Clasificador: {{classifierId}}

  </div>

  <h3> Ejecuciones </h3>
  <div class="right-button-container">
      <button class="btn btn-main" v-on:click="newExecution()">Nueva ejecución</button>
  </div>

    <div class="list">
    <ul>
      <li class="list-header">
        <span class="execution-date">Fecha</span>
        <span class="execution-precision">Precisión</span>
        <span class="execution-recall">Recall</span>
        <span class="execution-fmeasure">F-Measure</span>
      </li>

      <li  class="list-item" v-for="e,i in executions">
          <a  :href="'#/collection/'+collectionId+'/classifier/'+classifierId+'/run/'+e.collectionHasClassifierId">
        <span class="execution-date">{{formattedDates[i]}}</span>
        <span class="execution-precision">{{e.precisionClassifier}}</span>
        <span class="execution-recall">{{e.recall}}</span>
        <span class="execution-fmeasure">{{e.fmeasure}}</span>
        </a>
      </li>
    </ul>
  </div>
</div>
</template>
<script>
import moment from 'moment';
export default{
  data(){
    return{
      collectionId:null,
      classifierId:null,
      collectionData:{name:"Terremoto"},
      classifierData:{name:"Clasificador 1"},
      executions: [],
      formattedDates:[]
    }
  },
  methods: {
    newExecution:function(){
      this.$router.replace(this.classifierId+"/execution/new");
    },
    loadData:function() {
      this.executions.forEach(function(m){
        m.formattedDate = moment(m.date).format('ll')
      })
    }
  },
  created:function(){
    this.collectionId = this.$route.params.collectionId;
    this.classifierId = this.$route.params.classifierId;
    console.log(this.collectionId)
    console.log(this.classifierId)
    let API_URL = this.getConstants.API_URL
        this.$http.get(API_URL+"collections/"+this.collectionId)
        .then(function(response){
          console.log("res",response.body)
            this.collectionData=response.body
        }, function(response){
          console.log(response)
          console.log("HUBO UN ERROR")
        });
       this.$http.get(API_URL+"classifiers/"+this.classifierId)
        .then(function(response){
          console.log("res",response.body)
            this.classifierData=response.body
        }, function(response){
          console.log(response)
          console.log("HUBO UN ERROR")
        });
        this.$http.get(API_URL+"collectionshasclassifiers/classifiers/"+this.classifierId+"/collections/"+this.collectionId).then(function(response){
          console.log("res",response.body)
          this.executions=response.body
          for (var e in this.executions){
            var date=moment(this.executions[e].timestampClassification).format('lll')
            this.formattedDates.push(date)
          }
        }, function(response){
          console.log(response)
          console.log("HUBO UN ERROR")
        })
  },
  mounted:function(){
    console.log('CollectionDetails.vue')
    this.loadData()
  }
}
</script>
