<template>
<div>

  <h2>{{collectionData.name}} - {{classifierData.name}}</h2>
    <ol class="breadcrumb">
    <li>
      <a :href="'/'">Index</a>
    </li>
    <li class="active">
      <a :href="'#/collection/'+collectionId">{{collectionData.name}}</a>
    </li>
    <li class="active">
     <a :href="'#/collection/'+collectionId+'/classifier/'+classifierId">{{classifierData.name}}</a>
    </li>
    <li class="active">
      {{title}}
    </li>
  </ol>
  <div class="main-content">
    <div class="results-container">

      <div class="chart-area">
        <h3>Resultados</h3>
        <div class="results-stats">
        <div class="stats">

            <div class="content">Precisión:{{executionData.precisionClassifier}}</div>
            <div class="content">F-Measure:{{executionData.fmeasure}}</div>
            <div class="content">Recall:{{executionData.recall}}</div>
        </div>

      </div>
      <spiderchart :cfg="defaultCfg" :chart-data="data" ></spiderchart>
      <div class="download-results">

        <button class="btn btn-main" v-on:click="download">Descargar resultados</button>
      </div>
    </div>

    <div class="classifier-info">
      <h3>Clasificador</h3>
      <div class="content">
      <b>Fecha de ejecución:</b> {{executionData.formattedDate}}
      </div>

      <div class="content">
      <b>Cantidad de instancias:</b> {{executionData.instances}}
      </div>

      <h3>Colección</h3>

      <div class="content">
      <b>Tipo de desastre:</b> {{collectionData.disasterType}}
      </div>

      <div class="content">
      <b>Fuente:</b> {{collectionData.source}}
      </div>

      <div class="content">
      <b>Licencia:</b> {{collectionData.license}}
      </div>

      <div v-if="collectionData.source=='twitter' || collectionData.source=='Twitter'">
      <div class="content">
      <b>Palabras de recolección:</b> {{collectionData.recollectionWords}}
      </div>

      <div class="content">
      <b>Cuentas de recolección:</b> {{collectionData.recollectionAccounts}}
      </div>

      <div class="content">
      <b>Fecha de inicio de recolección:</b> {{collectionData.formattedStartDate}}
      </div>

      <div class="content">
      <b>Fecha de término de recolección:</b> {{collectionData.formattedEndDate}}
      </div>

      <div class="content" v-if="collectionData.coordinates==''">
        <rectangle-map :width="350" :height="300" :read-only="true"></rectangle-map>
      </div>
      </div>
    </div>


  </div>
  </div>
</div>
</template>
<script>
import moment from 'moment';
import spiderchart from '../Componentes/SpiderChart.vue'
import RectangleMap from '../Componentes/RectangleMap.vue'
export default{
  data(){
    return{
      rectangle:null,
      title:"Resultados Clasificador",
      collectionData: {formattedStartDate:"",formattedEndDate:""},
      classifierData: {},
      executionData:{formattedDate:"", precisionClassifier:0,fmeasure:0,recall:0},
      precision:0,
      fMeasure:0,
      recall:0,
      cfg:null,
      data:[[
        {axis:"Precision",value:0},
        {axis:"F-Measure",value:0.5},
        {axis:"Recall",value:1},
      ]],
      defaultCfg:{
                   margin: {top: 50, right: 50, bottom: 50, left: 50},
                   maxValue: 1,
                   levels: 4,
                   w:300,
                   roundStrokes: true,
                   color: "#1D9C98",
                   wrapWidth: 80
                 },
        }
  },
  components:{
      spiderchart,
      RectangleMap
  },
  methods: {
    download:function(){
      let API_URL = this.getConstants.API_URL
      this.$http.get(API_URL+"collectionshasclassifiers/download/"+this.executionId).then(function(response){
        console.log("res",response.body)
      })
    }
  },
  created:function(){
    this.collectionId = this.$route.params.collectionId;
    this.classifierId = this.$route.params.classifierId;
    this.executionId = this.$route.params.runId;
    console.log(this.collectionId)
    console.log(this.classifierId)
    let API_URL = this.getConstants.API_URL
        this.$http.get(API_URL+"collections/"+this.collectionId)
        .then(function(response){
          console.log("res",response.body)
            this.collectionData=response.body
            this.collectionData.formattedStartDate = moment(this.collectionData.startCollectingData).format('lll')
            this.collectionData.formattedEndDate = moment(this.collectionData.endCollectingData).format('lll')
        }, function(response){
          console.log(response)
          console.log("HUBO UN ERROR")
        });
       this.$http.get(API_URL+"classifiers/"+this.classifierId)
        .then(function(response){
          console.log("res",response.body)
            this.classifierData=response.body
        }, function(response){
          console.log(response)
          console.log("HUBO UN ERROR")
        });
      this.$http.get(API_URL+"collectionshasclassifiers/"+this.executionId).then(function(response){
        console.log("res",response.body)
        this.executionData=response.body

        this.executionData.formattedDate=moment(this.executionData.timestampClassification).format('lll')
          console.log(this.data)
          //console.log("!",this.executionData)
        this.data[0][0].value=this.executionData.precisionClassifier
        this.data[0][1].value=this.executionData.fmeasure
        this.data[0][2].value=this.executionData.recall

      }, function(response){
        console.log(response)
        console.log("HUBO UN ERROR")
      });
      console.log("DATA",this.executionData)

  },
  mounted:function(){
  }
}
</script>
